
.darkImage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    
    position: fixed;
    height:0;
    width: 100%;

    transition: height 0.01s fade;
    z-index: 2;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.aboutus{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("/images/aboutuspicture.png");
}
.homepage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("/images/homepage.png");
    width: 100%;
    top: 0;
    height: 100%;
    background-size:cover;
    background-position: center;
    position:absolute;
}
.the-navbar{
    background-color: white;
    padding: 0.5rem;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    padding-left: 5rem;
    float: left;
    height: 100%;
    display: flex;
    vertical-align:middle;
    
}
.nav-item a{
    float: left;
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 36px;
    font-size: 1.3rem;
    padding-top: 1rem;
    display: inline-block;
}
.nav-item a:hover {
    text-decoration: underline;
    color: black;
}
.the-navbar button{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    float: right;
    color: white;
    border-radius: 0.4rem;
    height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
    vertical-align: middle;
    transition-timing-function: ease-out;
    transition: 0.3s;
}
.the-navbar button:hover{
    background-color: white;
    float: right;
    color: black;
    border-radius: 0.4rem 1rem black;
}
.nav-group{
    display: block;
    float: left;
}
.navbar-menu{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3.5rem;
    float: right;
}
.logo{
    float: left;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: unset;
    font-size: 3rem;
    height: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
#closeSideNav{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration: none;
}
.sideNav {
  max-height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;

}
.mainContent{
    top: 50%;
    position:absolute;
    width: 100%;
    transform: translate(0, -50%);
}
.catchPharse{
    width: 50%;
    float: left;
    padding-left: 5rem;
    padding-top: 5rem;
}
.mainContent h1{
    font-family: 'Ubuntu';
    font-size: 5rem;
    color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: white;
}
.mainContent h2{
    font-family: 'Ubuntu';
    font-size: 3rem;
    color: black;
    padding: 2rem;
    padding-left: 0;
}
.trackerSection{
    width: 50%;
    float: left;
}
.tracking{
    
    background-color: white;
    height: 100%;
    padding-right: 3rem;
    margin-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
    border-radius: 0.8rem;
}
.tracking-input{
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
   
}
.submit-tracking{
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    padding-left: 1rem;
    font-family: 'Ubuntu';
    transition-timing-function: ease-out;
    transition: 0.3s;
    
}
.solutionsDiv{
    background-color: white;
    width: 100%;
    position:absolute;
    top: 100%;
    padding: 3rem;
    padding-left: 5rem;
    padding-right: 0;
    
}
.solutionsDiv h3{
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: 600;
    
}
.solutionsDiv p{
    margin-top: 1rem;
    font-family: 'Ubuntu';
    font-size: 1.5rem;
    font-weight: 100;
    color: "#6D6D6D";
    line-height:1.9rem;
    margin-right: 2rem;
}
.solutionsDiv h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: "#6D6D6D";
    line-height:1.9rem;
    
}
.slideShow-scroll{
    margin-top: 2rem;
    overflow-x: scroll;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }
.slideShow-scroll::-webkit-scrollbar {
    display: none;
}
.card-slideShow{
    cursor: pointer;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.5);
    width:min-content;
    margin: 0.5rem;
    height: max-content;
    margin-right: 5rem;
    border-radius: 1rem;
}
.content-slideshow{
    height:100%;
    padding: 1rem;
}
.content-slideshow p{
    height: 5.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: "#6D6D6D";
    width: inherit;
    margin-right: 0;
}
.learnMore-button{
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0 0 0.3rem 0.3rem;
    box-shadow: inherit;
}
.card-img{
    height: 100%;
    width: max-content;
}
@media screen and (max-width:1450px) {
    .catchPharse{
        float: none;
        width: 100%;
    }
    .trackerSection{
        margin-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        width: 100%;
        float: none;
    }
    .nav-item{
        display: none;
    }
    .tracking{
        margin-right: 0;
    }
    .solutionsDiv{
        padding: 3rem;
        padding-right: 0;
    }
    .solutionsDiv h3{
        font-size: 2rem;
        font-weight: 600;
    }
    .solutionsDiv p{
        margin-top: 0.5rem;
        font-size: 1rem;
    }
    .card-img{
        height: 10rem;
        width: max-content;
    }
    .solutionsDiv h4{
        font-size: 1.3rem;
        font-weight: 600;
    }
    .content-slideshow p{
        font-size: 0.8rem;
        margin-top: 0;
        line-height: 1.5rem;
        height: 4rem;
    }
    .content-slideshow{
        padding: 0.5rem;
    }
    .card-slideShow{
        margin-right: 2rem;
    }
    
    
}
@media screen and (max-width:1450px) and (max-height:650px) {
    .mainContent h1{
        font-size: 3rem;
    }
    .mainContent h2{
        font-size: 2rem;
        padding: 1rem;
        padding-left: 0;
    }
    .tracking{
        padding-right: 1rem;
        margin-right: 2rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        margin-right: 0;
    }
    .trackerSection{
        margin-top: 3rem;
    }
}
@media screen and (max-width:735px) {
    
    .mainContent h1{
        font-size: 3rem;
    }
    .mainContent h2{
        font-size: 1.5rem;
        padding: 1rem;
   
    }
    .tracking-input{
        font-size: 1rem;
        width: 100%;
    }
    .tracking{
        padding-right: 1rem;
        margin-right: 2rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        margin-right: 0;
    }
    .submit-tracking{
        font-size: 1rem;
    }
    .navbar-menu{
        margin-top: 2.5rem;
        margin-left: 4rem;
        margin-right: 1rem;
        float: right;
        margin-top: 1.5rem;
    }
    .logo{
        margin-left: 0.1rem;
        height: 5rem;
    }
    .the-navbar button{
        
        margin-top: 1rem;
    }
    .catchPharse{
        padding: 0;
        padding-left: 3rem;
        float: none;
        width: 100%;
    }
    .trackerSection{
        margin-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        float: none;
        width: 100%;
        margin-right: 3rem;
    }
    body{
        width: 100%;
    }
    .solutionsDiv{
        height: max-content;
    }
 
    
}
@media screen and (max-width:550px) {
    
    .solutionsDiv{
        padding-left: 0;
    }
    .solutionsDiv h3{
        margin-left: 1.5rem;
    }
    .solutionsDiv p{
        margin-left: 1.5rem;
    }
    .card-slideShow{
        float: none;
        position: relative;
        left : 50%;
        transform: translate(-50%, 0);
        margin-right: 0;
        margin-top: 2rem;
    }
    .slideShow-scroll{
        margin-top: 2rem;
        display:unset;
        flex-direction:unset;
        flex-wrap: unset;
        height: min-content;
        margin: 0;
    }
    .content-slideshow p{
       margin-left: 0;
       height: 5rem;
    }
    .mainContent h1{
        font-size: 2.5rem;
    }
    .navbar-menu{
        margin-left: 2rem;
        float: right;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .menu{
        height: 1rem;
    }
    .the-navbar button{
        
    }
    .logo{
        margin-left: 0.1rem;
        height: 3.5rem;
        margin-right: 1rem;
        height: 3rem;
    }
    .the-navbar button{
        
        font-size: 0.5rem;
        padding : 0.1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        margin-top: 0.8rem;
        height: 1.5rem;
    }
}
